@theme {
  --animate-show-dialog: showdialog 0.3s ease;
  --animate-slide-in: slidein 0.3s ease;

  @keyframes showdialog {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.96);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  @keyframes slidein {
    from {
      opacity: 0;
      transform: translateY(-120%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
